@charset "UTF-8";
.accordion {
  margin: 0;
  padding: 0; }
  .accordion:before, .accordion:after {
    content: " ";
    display: table; }
  .accordion:after {
    clear: both; }
  .accordion__panel {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
  .accordion__heading {
    position: relative;
    display: block;
    padding: 0.9375rem;
    color: white;
    font-size: 0.875rem;
    font-family: "Gagalin";
    line-height: 1.601;
    text-align: center;
    -moz-transform: matrix(0, -0.99966, 1.0048, 0, 0, 0);
    -webkit-transform: matrix(0, -0.99966, 1.0048, 0, 0, 0);
    -ms-transform: matrix(0, -0.99966, 1.0048, 0, 0, 0);
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .accordion__expander {
    padding: 3.75rem 1.875rem;
    color: white;
    font-size: 0.875rem;
    font-family: "ubuntulight";
    line-height: 1.714;
    width: 29.4375rem;
    height: 14.3125rem;
    background-color: transparent; }
  .accordion--horizontal {
    height: 40.625rem;
    min-width: 15rem; }
  .accordion--horizontal .accordion__panel {
    position: relative;
    float: left;
    height: 100%;
    width: 100%; }
  .accordion--horizontal .accordion__heading {
    width: 40.625rem;
    text-align: right;
    -webkit-transform: translateX(-100%) rotate(-90deg) translateZ(0rem);
    transform: translateX(-100%) rotate(-90deg) translateZ(0rem);
    -webkit-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    transform-origin: right top 0; }
    .accordion--horizontal .accordion__heading > .-icon {
      right: 14.1875rem;
      -webkit-transform: rotate(90deg) translateZ(0rem);
      transform: rotate(90deg) translateZ(0rem); }
  .accordion--horizontal .accordion__expander {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 28.125rem;
    margin-left: 3.125rem;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .accordion--box .accordion--vertical .accordion__panel {
    margin-bottom: 0.625rem; }
  .accordion--box .accordion--horizontal .accordion__panel {
    margin-right: 0.625rem; }
  .accordion--box .accordion__heading {
    background-color: red; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html,
body {
  height: 100%; }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: 'ubuntumedium', Arial, Helvetica, sans-serif;
  color: #2f3234; }

.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.old__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.visually_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  width: 0.0625rem;
  margin: -rem(1px);
  padding: 0;
  border: 0; }

.button__order {
  margin-left: 0.9375rem;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #c1401e;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-family: "ubuntumedium";
  color: white;
  text-transform: uppercase;
  text-align: right; }
  .button__order:hover {
    background-color: #7f2a14; }
  @media screen and (max-width: 480px) {
    .button__order {
      margin-left: 0; } }

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative; }
  .fixed-menu__link:after, .fixed-menu__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link:after {
    width: 0.375rem;
    height: 0.375rem;
    background: #fff; }
  .fixed-menu__link:before {
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .fixed-menu__link:hover:before {
    width: 0.875rem;
    height: 0.875rem;
    opacity: 1; }

.fixed-menu__item {
  margin-bottom: 0.3125rem; }

.text {
  line-height: 5.3125rem;
  font-size: 4.5rem;
  font-family: "gagalin";
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .text {
      line-height: 4.0625rem;
      font-size: 3.75rem; } }

.full-menu {
  display: none; }
  @media screen and (max-width: 480px) {
    .full-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #2f3234; } }

.hero {
  background-color: #80898e;
  background-size: cover;
  background-image: url("../img/bg-hero.png");
  background-position: 50% 50%; }

.hero__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.625rem; }

.hero__header__left-logo {
  display: block;
  height: 5rem;
  width: 6.25rem;
  background: url("../img/logo.svg") no-repeat 100% 100%; }
  @media screen and (max-width: 480px) {
    .hero__header__left-logo {
      height: 6rem;
      width: 7.25rem; } }

.hero__header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.hero__header__right-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .hero__header__right-nav {
      display: none; } }

.nav-item {
  display: inline-block;
  line-height: 1.875rem;
  vertical-align: middle;
  font-size: 0.8125rem;
  font-family: "ubuntumedium";
  color: white;
  text-transform: uppercase;
  text-align: right; }
  .nav-item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 1.1875rem; }
  .nav-item:last-child:after {
    display: none; }

.nav__link, .order-link {
  text-decoration: none;
  color: white; }

.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0px; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.hero__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .hero__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 25%; } }
  @media screen and (max-width: 480px) {
    .hero__main {
      padding: 0 17%; } }

.hero__main-part__burger,
.hero__main-part__burger-text {
  float: left;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__main-part__burger,
    .hero__main-part__burger-text {
      float: none;
      width: 100%; } }

.hero__img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%; }

.hero__main-part__burger-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 0.625rem;
  padding-top: 7.1875rem; }
  @media screen and (max-width: 768px) {
    .hero__main-part__burger-text {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 0;
      padding-top: 0; } }

.hero__main-part__text-1 {
  color: #f9b43b;
  text-align: center; }

.hero__main-part__text-2 {
  display: block;
  line-height: 5.3125rem;
  font-size: 4.0625rem;
  font-family: "lifehack";
  color: #ffffff;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .hero__main-part__text-2 {
      text-align: center;
      font-size: 3.4375rem;
      line-height: 4.0625rem; } }

.down-arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  width: 2.1875rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 1.1875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .down-arrow:hover .down-arrow__icon {
    margin-top: -0.9375rem;
    width: 2.1875rem;
    height: 1.1875rem; }

.down-arrow__icon {
  width: 2.1875rem;
  height: 1.1875rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #fff; }

.best {
  background-color: #f5f2ed;
  background-size: cover;
  background-image: url("../img/bg-best.png");
  background-position: bottom; }

.best__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3.125rem; }

.best__header-text-3 {
  /* прозрачность*/
  color: #2f3234;
  text-align: center;
  display: block; }

.best__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .best__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.best__main__part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  width: 33.3%; }
  @media screen and (max-width: 480px) {
    .best__main__part {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0;
      width: 90%; } }

@media screen and (max-width: 480px) {
  .best__main__part-pic {
    width: 40%; } }

.best__img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%; }

@media screen and (max-width: 480px) {
  .best__text {
    width: 90%;
    margin-bottom: 10%; } }

.best__main__part-caption-big {
  display: block;
  line-height: 1.75687rem;
  font-size: 1.50625rem;
  font-family: "lifehack";
  color: #2f3234;
  text-align: center;
  margin-bottom: 1.5625rem;
  margin-top: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .best__main__part-caption-big {
      text-align: left;
      margin-bottom: 0;
      margin-top: 0; } }

.best__main__part-caption-small {
  display: block;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-family: "ubuntulight";
  color: #2f3234;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__main__part-caption-small {
      text-align: left; } }

.review__container {
  height: 100%;
  width: 100%; }

.reviews__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh; }

.reviews__list__item {
  display: block;
  width: 25%;
  height: 50%;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews__list__item {
      width: 50%;
      height: 25%; } }

.reviews__list__item-avatar {
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  height: 100%; }

.reviews__list__item-info {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.7); }

.reviews__list__item:hover .reviews__list__item-info {
  opacity: 1; }

.reviews__list__item-info-name {
  font-size: 0.875rem;
  line-height: 1.75687rem;
  font-family: 'gagalin';
  margin: 3.125rem 0 1.25rem 1.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__list__item-info-name {
      text-align: center;
      margin: 0.3125rem 1.25rem; } }

.reviews__list__item-info-text {
  font-size: 0.875rem;
  font-family: 'ubuntulight';
  line-height: 1.5rem;
  margin: 0 1.875rem 1.25rem 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__list__item-info-text {
      text-align: center;
      margin: 0 1.25rem;
      font-size: 0.75rem;
      line-height: 1.25rem; } }

.reviews__list__item-info-detail {
  width: 6.875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  border-radius: 0.25rem;
  background-color: #2f3234;
  margin-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__list__item-info-detail {
      margin: 0.1875rem auto;
      width: 6.25rem;
      height: 1.875rem;
      line-height: 1.875rem; } }

.reviews__list__item-info-detail a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 0.8125rem;
  font-family: 'ubuntumedium';
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .reviews__list__item-info-detail a {
      font-size: 0.75rem; } }

.reviews__list__item-info-detail:hover {
  background-color: #1f2122; }

.team {
  background-color: #c0afaa;
  background-size: cover;
  background-image: url("../img/bg-team.png");
  background-position: top left;
  position: relative; }

.team__section {
  background-image: url("../img/team-section.png");
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .team__section {
      width: 100%; } }

.team__section__about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5.625rem;
  margin-left: 6.25rem;
  margin-right: 6.25rem; }

.team__section-team {
  color: #f8b43a;
  margin-bottom: 3.75rem; }

@media screen and (max-width: 768px) {
  .team-acco {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.team-acco__item {
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  .team-acco__item:last-child {
    margin-bottom: 0; }
  .team-acco__item.active .team-acco__trigger {
    color: #f8b43a; }
    .team-acco__item.active .team-acco__trigger:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.team-acco__trigger {
  color: #fff;
  font-size: 0.875rem;
  font-family: "gagalin";
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .team-acco__trigger {
      font-size: 1.5625rem; } }
  .team-acco__trigger:before, .team-acco__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0; }
  .team-acco__trigger:before {
    border-top: 0.4375rem solid #f8b43a;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .team-acco__trigger:after {
    display: none;
    border-bottom: 0.4375rem solid #f8b43a;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0rem solid transparent; }

.team-acco__content {
  display: none; }
  .team-acco__content.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .team-acco__content.active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }

.team-acco__pic {
  width: 30%;
  margin-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .team-acco__pic {
      margin: 0;
      width: auto; } }

.team-acco__img {
  height: 6.25rem;
  width: 6.25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%; }

.team-acco__text {
  width: 70%; }
  @media screen and (max-width: 768px) {
    .team-acco__text {
      text-align: center; } }

.team-acco__title {
  font-family: "ubuntubold";
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.875rem; }

.team-acco__text-content {
  font-family: "ubuntulight";
  color: #fff;
  font-size: 0.875rem; }

.menu {
  background: url("../img/menu-bg.png") 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  height: 100%; }
  .menu-acco__item.active .menu-acco__trigger-text {
    color: #f8b43a; }

.menu-acco__trigger {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }

.menu-acco__trigger-text {
  font-size: 2.5rem;
  color: #fff;
  font-family: "gagalin";
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -1.25rem; }

.menu-acco__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }
  .menu-acco__content.active {
    width: 34.375rem; }

.menu-acco__text {
  font-family: "ubuntulight";
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 1.875rem;
  width: 100%;
  line-height: 1.8; }

.order {
  background: url("../img/order-bg.png") center center no-repeat;
  background-size: cover; }

.order__container {
  width: 58.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40.625rem;
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px; }

.order_title {
  color: #f8b43a;
  margin-bottom: 4.375rem; }
  @media screen and (max-width: 768px) {
    .order_title {
      font-size: 3.75rem;
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .order_title {
      text-align: center; } }

.form__block-title {
  color: #fff;
  margin-bottom: 0.3125rem;
  font-family: "ubuntulight";
  line-height: 1.714;
  font-size: 0.875rem;
  white-space: nowrap; }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 8.75rem; } }

.form__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 50%; }
  .form__column:first-child {
    margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 100%; } }

.form__input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  width: 100%; }
  .form__input--comm {
    height: 6.875rem; }
  .form__input--radio, .form__input--checkbox {
    width: auto;
    margin-right: 0.3125rem; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1.25rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block--radio, .form__block--checkbox, .form__block--button {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.button-reset {
  border-style: none;
  background: none;
  font-family: "ubuntulight";
  color: #fff;
  line-height: 1.714;
  font-size: 0.875rem; }

.contacts {
  background: url("../img/contacts-bg.png") center center no-repeat;
  background-size: cover; }

.contacts__container {
  position: relative;
  width: 100%;
  min-height: 40.625rem; }

.contacts__footer {
  position: absolute;
  bottom: 0;
  padding: 0.625rem;
  width: 100%;
  height: 3.75rem;
  background-color: #2f3234;
  background-image: url("../img/contacts-footer.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .contacts__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 5.75rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem;
  fill: #5a5a5a;
  width: 1.5625rem;
  height: 1.5625rem; }
  .icon:hover {
    fill: #fff; }
  .icon:first-child {
    margin-left: 0; }

.contacts__footer__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 480px) {
    .contacts__footer__left {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.contacts__footer__address {
  display: inline-block;
  font-size: 0.875rem;
  font-family: "ubuntulight";
  color: white;
  line-height: 1.714;
  text-align: left; }

.contacts__footer__number {
  display: inline-block;
  font-size: 0.875rem;
  font-family: "ubuntulight";
  color: #e45028;
  line-height: 1.714;
  text-align: left; }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #f9b43b), color-stop(50%, #eb8c38), color-stop(90%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 10%, #eb8c38 50%, #f9b43b 90%);
  background: -o-linear-gradient(bottom, #f9b43b 10%, #eb8c38 50%, #f9b43b 90%);
  background: linear-gradient(to top, #f9b43b 10%, #eb8c38 50%, #f9b43b 90%); }

.burgers__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .burgers__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.burgers__right,
.burgers__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .burgers__right,
    .burgers__left {
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.burgers__title {
  color: white; }

.burgers__text {
  font-size: 0.875rem;
  font-family: 'ubuntulight';
  line-height: 1.5rem;
  color: #fff;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .burgers__text {
      text-align: center; } }

.burgers__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.burgers__rub {
  font-size: 1.875rem;
  line-height: 1.75687rem;
  margin: 0.625rem; }

.burgers__price, .burgers__rub {
  color: #e25028; }

.burgers__content {
  position: relative; }

.burgers__img {
  width: 100%;
  display: block; }
  @media screen and (max-width: 768px) {
    .burgers__img {
      width: 80%;
      margin: auto; } }

.burgers__composition {
  background: url("../img/burgers-make-up.png") no-repeat center;
  position: absolute;
  top: -3.125rem;
  left: 3.125rem;
  width: 5.625rem;
  height: 5.625rem; }
  .burgers__composition:hover {
    background: url("../img/burgers-make-up-open.png") no-repeat center;
    width: 22.5rem;
    height: 20.625rem; }
  @media screen and (max-width: 768px) {
    .burgers__composition {
      top: -2.75rem;
      left: 0.8125rem;
      width: 6.25rem;
      height: 6.25rem; } }

.burgers__kkal {
  position: absolute;
  bottom: -4.375rem;
  left: 3.125rem;
  padding-top: 1.5625rem;
  height: 5rem;
  width: 4.375rem;
  text-align: center;
  font-size: 0.875rem;
  font-family: "gagalin";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.875rem;
  background: url("../img/burgers-kkal.png") no-repeat top center; }
  @media screen and (max-width: 768px) {
    .burgers__kkal {
      bottom: 13.75rem;
      left: 28.125rem; } }
  @media screen and (max-width: 480px) {
    .burgers__kkal {
      bottom: 12.75rem;
      left: 23.125rem; } }

/*# sourceMappingURL=main.css.map */