.best{
  background-color: #f5f2ed;
  background-size: cover;
  background-image: url("../img/bg-best.png");
  background-position: bottom;
  display:flex;
  flex-direction: column;
}
.best__header-text-3 { /* прозрачность*/
  color:#2f3234;
  text-align: center;
  display:block;
  
}


.best__main__part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // margin-bottom: rem(180px);
  margin-right: rem(20px);
  margin-left: rem(20px);
  width: 33.3%;
}
.best__main__part-pic {
  height: rem(100px);
  width: rem(110px);
}
.pic-1 {
  background: url("../img/meat.svg") no-repeat 50% 50%;
}
.pic-2 {
  background: url("../img/hand.svg") no-repeat 50% 50%;
}
.pic-3 {
  background: url("../img/natural.svg") no-repeat 50% 50%;
}
.best__main__part-caption-big {
  display:block;
  height: rem(46px);
  line-height: rem(28.11px);
  font-size: rem(24.1px);
  font-family: "lifehack";
  color:#2f3234;
  text-align: center;
  margin-bottom: rem(25px);
  margin-top: rem(25px);
}
.best__main__part-caption-small {
  display:block;
  height: rem(24px);
  width: rem(290px); 
  line-height: rem(24px);
  font-size: rem(14px);
  font-family: "ubuntulight";
  color:#2f3234;
  text-align: center;
}
