.menu {
    background-color: #b5babd;
    background-size: cover;
    background-image: url("../img/menu-bg.png");
    background-position: center ;
    position: relative;
  }
.menu__container {
    position: relative;
   
  }
.menu__label {
    position: absolute;
    top: 110px;
    left: 90px;
    color: white;
}
.menu__ACCORDEON, .example {
    position: absolute;
    min-height:650px;
    min-width:240px;
    right:0px;
    top: 0px;
    background: #4c4e50;
    opacity: 0.929;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.menu__ACCORDEON__diet {
    background: url("../img/menu-diet.png") no-repeat 50% 50%; 
    min-height:650px;
    width:80px;
}