
.review__container {
	height: 100%;
	width: 100%;

}
.reviews__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
    flex-direction: row;
	
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	height: 100vh;
}
.reviews__list__item {
	display: block;
	width: 25%;
	height: 50%;
	overflow: hidden;
	position: relative;
}

.reviews__list__item-avatar {
	filter: saturate(0%);
	height: 100%;
}
.reviews__list__item-info {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    color:#fff;
    background-color: rgba(20, 20, 20, .7);
}
.reviews__list__item:hover .reviews__list__item-info {
	opacity: 1;
}
.reviews__list__item-info-name {
	font-size: 14px;
	line-height: 28.11px;
	font-family: 'gagalin';
	margin: 50px 0 20px 30px;
}
.reviews__list__item-info-text {
	font-size: 14px;
	font-family: 'ubuntulight';
	line-height: 24px;
	margin: 0 30px 20px 20px;
}
.reviews__list__item-info-detail {
	width: 110px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	background-color: #2f3234;
	margin-left: 20px;
}

.reviews__list__item-info-detail a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-family: 'ubuntumedium';
	text-transform: uppercase;
	}
.reviews__list__item-info-detail:hover {
	background-color: #1f2122;
}