
.review__container {
	height: 100%;
	width: 100%;

}
.reviews__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
    flex-direction: row;
	
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	height: 100vh;
}
.reviews__list__item {
	display: block;
	width: 25%;
	height: 50%;
	overflow: hidden;
	position: relative;

	@include tablets {
		width: 50%;
		height: 25%;
	}
}

.reviews__list__item-avatar {
	filter: saturate(0%);
	height: 100%;
}
.reviews__list__item-info {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    color:#fff;
    background-color: rgba(20, 20, 20, .7);
}
.reviews__list__item:hover .reviews__list__item-info {
	opacity: 1;
}
.reviews__list__item-info-name {
	font-size: rem(14px);
	line-height: rem(28.11px);
	font-family: 'gagalin';
	margin: rem(50px) 0 rem(20px) rem(30px);
	@include tablets {
		text-align: center;
		margin: rem(5px) rem(20px);
	}
}

.reviews__list__item-info-text {
	font-size: rem(14px);
	font-family: 'ubuntulight';
	line-height: rem(24px);
	margin: 0 rem(30px) rem(20px) rem(20px);
	@include tablets {
		text-align: center;
		margin:0 rem(20px);
	font-size: rem(12px);
	line-height: rem(20px);
	
	}
}
.reviews__list__item-info-detail {
	width: rem(110px);
	height: rem(35px);
	line-height: rem(35px);
	border-radius: rem(4px);
	background-color: #2f3234;
	margin-left: rem(20px);
	@include tablets {
		// text-align: center;
		margin:rem(3px) auto;
		width: rem(100px);
		height: rem(30px);
		line-height: rem(30px);
	}
}

.reviews__list__item-info-detail a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: rem(13px);
	font-family: 'ubuntumedium';
	text-transform: uppercase;

	@include tablets {
		font-size: rem(12px);
	}
}

.reviews__list__item-info-detail:hover {
	background-color: #1f2122;
}