html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.wrapper {
    height: 100%;
    
}
.maincontent {
    height: 100%;
    width: 100%;
}
.page {
    height: 100%;
    width: 100%;
    position: relative;
}
.section-1 {
    background-color: #80898e;
    background-size: cover;
    background-image: url("Rectangle 11.png"); 
    display:flex;
    flex-direction: column;
}
.container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo {
    margin-left: 80px;
    margin-top: 5px;
    display: block;
    height:80px;
    width: 100px;
    background: url("logo.svg") no-repeat 100% 100%;
}
.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 700px;
    margin-right: 50px;
    margin-left: 201px;
}
.menu-item {
   line-height: 30px;
   font-size: 13px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: right;
}
.order {
    background-color: #c1401e;
    border-radius: 5%;
    padding:  5px 15px;
}

.main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}


.burger {
    display: block;
    height:500px;
    width: 500px;
    background:
        url("drops.svg")  no-repeat ,
        url("bur pic.png") no-repeat ;
    background-position: 30% 30%,50% 50%;
}
.burger-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-1 {
    display:block;
    height: 90px;
    line-height: 85px;
   font-size: 72px;
    font-family: "Gagalin Regular";
    color:#f9b43b;
    text-transform: uppercase;
    text-align: left;
}
.text-2 {
    display:block;
    height: 140px;
    line-height: 85px;
   font-size: 65px;
    font-family: "Lifehack Medium";
    color:#ffffff;
    text-align: left;
}

.sidebar {
    margin-left:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
   align-self: flex-start;
   
         
}
.navbar > div {
    height:10px;
    width: 10px;
    position: relative;
    margin-bottom:15px;
}
.circle-inner {
    border: 3px solid white;
    background-color: transparent;
    height: 0px;
   border-radius:50%;
    width: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .circle {
    border: 1px solid white;
    background-color: transparent;
    height: 10px;
   border-radius:50%;
    width: 10px;
    position: absolute;
    left: 7px;
    top: 7px;
    height: 10px;
  }
 
}
.footer {
    display: block;
   
}
.arrow {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

<link rel="stylesheet" href="normalize.css">

@font-face {
    font-family: "Ubuntu Mediums";
    src: url("C:\Users\Liza Chuiko\Desktop\Новая папка\Ubuntu-Medium.ttf" 
        format("ttf");
}
@font-face {
    font-family: "Gagalin-Regular";
    src: url("C:\Users\Liza Chuiko\Desktop\Новая папка\Gagalin-Regular.otf" 
        format("otf");
}
@font-face {
    font-family: "Lifehack Medium";
    src: url("C:\Users\Liza Chuiko\Desktop\Новая папка\Lifehack Medium.otf" 
        format("otf");
}