
.old__container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  
}
.visually_hidden {    
  position: absolute; 
  overflow: hidden;   
  clip: rect(0 0 0 0);    
  height: rem(1px);    
  width: rem(1px); 
  margin: -rem(1px);   
  padding: 0; 
  border: 0;
}

.button__order {
  margin-left: rem(15px);
  padding:  rem(10px) rem(15px);
  border: none;
  background-color: #c1401e;
  border-radius: rem(5px);
  font-size: rem(13px);
  font-family: "ubuntumedium";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: right;
  &:hover {
    background-color: darken(#c1401e, 15%);
  }
}

.fixed-menu {
	position: fixed;
	top: rem(90px);
  right: rem(40px);
  
  @include tablets {
    display: none;
  }
}

.fixed-menu__link {
	width: rem(16px);
	height: rem(16px);
	display: block;
	position: relative;

	&:after, &:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	&:after {
		width: rem(6px);
		height: rem(6px);
		background: #fff;
	}

	&:before {
		width: rem(0px);
		height: rem(0px);
		border-radius: 50%;
		border: rem(1px) solid #fff;
		opacity: 0;
		transition: .3s;
	}
//пока с hover
	&:hover {
		&:before {
			width: rem(14px);
			height: rem(14px);
			opacity: 1;
		}
	}
}

// .fixed-menu__item {
// 	&.active {
// 		.fixed-menu__link {
// 			&:before {
// 				width: rem(14px);
// 				height: rem(14px);
// 				opacity: 1;
// 			}
// 		}
// 	}
// }

.fixed-menu__item {
	margin-bottom: rem(5px);
}

.text {
  display:block;
  height: rem(90px);
  line-height: rem(85px);
  font-size: rem(72px);
  font-family: "gagalin";
  text-transform: uppercase;
  text-align: left;
}