
@font-face {
    font-family: "Ubuntu Mediums";
    src: url("C:\Users\Liza Chuiko\Desktop\project\fonts\Ubuntu-Medium.ttf")
        format('ttf');
}
@font-face {
    font-family: "Gagalin-Regular";
    src: url("C:\Users\Liza Chuiko\Desktop\project\fonts\Gagalin-Regular.otf")
        format('otf');
}
@font-face {
    font-family: "Lifehack Medium";
    src: url("C:\Users\Liza Chuiko\Desktop\project\fonts\Lifehack Medium.otf")
        format('otf');
}
@font-face {
    font-family: "Ubuntu Light";
    src: url("C:\Users\Liza Chuiko\Desktop\project\fonts\Ubuntu-Light.ttf") 
        format('ttf');
}