// .slider__btn-next {
//     // position: absolute;
//     width: rem(30px);
//     height: rem(40px);
//     top:50%;
//     left: 10%;
// }
.slider__controls {
    position: absolute;
    width: 100%;
    top:50%;
    // height:20%;
    // margin:auto;
}

// .arrow-right {
//     width: 100%;
//     height:100%;
// }

.slider__btn {
    position: absolute;
    display: inline-block;
    // background-image: url("../img/arrow-right.png");
    // width: rem(30px);
    // height: rem(40px);
    // @include cover;
    top: 50%;

}

.slider__btn-next {
    display: block;
    left: rem(20px);
    transform: rotate(180deg);
}

.slider__btn-prev {
    display: block;
    right: rem(20px);
}

.burgers__slider {
    display: flex;
    position: absolute;
    // height: 90%;
    // width: 90%;
    margin:auto;
    width:rem(1000px);
    // height: rem(600px);
    // overflow: hidden;
}
.burgers__slider-box {
    position: relative;
    width: 90%;
    // height: 900px;
    margin: auto;
    height: 370px;
    // overflow: hidden;
}

.burgers__slider-one {
  background-color:red;
  top:0;
  left:0;
}
.burgers__slider-two {
    background-color:green;
    top:0;
    left:1000px;
  }