.slider {
    display: flex;
    width: 100%;
}
.slider__controls {
    position: absolute;
    width: 100%;
    top:50%;
}

.slider__btn {
    position: absolute;
    display: inline-block;
    top: 50%;
}

.slider__btn-next {
    display: block;
    right: rem(20px);
    
}

.slider__btn-prev {
    display: block;
    left: rem(20px);
    transform: rotate(180deg);
}


.burgers__slider-box {
    position: relative;
    width: 60rem;
    // height: 900px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    @include tablets {
        width: 39.5rem;
    }
}

.slider__list {
    position: absolute;
    top:25vh;
    left:0;
    display: flex;
    margin: auto 0;
    @include tablets {
        top: 15vh;
    }
}

.burgers__slider {
    display: flex;
    margin:auto;
    width:60rem;
    @include tablets {
        width: 39.5rem;
    }
    @include phones {
        width: 31.5rem;
    }
}

.burgers__slider-one {
  background-color:red;
}
.burgers__slider-two {
    background-color:green;
  }
  .burgers__slider-three {
    background-color:blueviolet;
  }