// .slider__btn-next {
//     // position: absolute;
//     width: rem(30px);
//     height: rem(40px);
//     top:50%;
//     left: 10%;
// }

.slider {
    display: flex;
    width: 100%;
}
.slider__controls {
    position: absolute;
    width: 100%;
    top:50%;
    // height:20%;
    // margin:auto;
}

// .arrow-right {
//     width: 100%;
//     height:100%;
// }

.slider__btn {
    position: absolute;
    display: inline-block;
    // background-image: url("../img/arrow-right.png");
    // width: rem(30px);
    // height: rem(40px);
    // @include cover;
    top: 50%;
    // background-color: purple;
    // width: 10px;
    // height: 10px;
}

.slider__btn-next {
    display: block;
    right: rem(20px);
    
}

.slider__btn-prev {
    display: block;
    left: rem(20px);
    transform: rotate(180deg);
}


.burgers__slider-box {
    position: relative;
    width: 60rem;
    // height: 900px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    @include tablets {
        width: 39.5rem;
    }
}

.slider__list {
    position: absolute;
    top:25vh;
    left:0;
    display: flex;
    margin: auto 0;
}

.burgers__slider {
    display: flex;
    // height: 900px;
    // height: 90%;
    // width: 100%;
    margin:auto;
    width:rem(1000px);
    @include tablets {
        width: 39.5rem;
    }
    // height: rem(600px);
    // overflow: hidden;
}

.burgers__slider-one {
  background-color:red;
//   top:0;
//   left:0;
}
.burgers__slider-two {
    background-color:green;
    // top:0;
    // left:1000px;
  }
  .burgers__slider-three {
    background-color:blueviolet;
    // top:0;
    // left:1000px;
  }