.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #5a5a5a;
  width: 25px;
  height: 25px; }
  .icon .icon:hover {
    fill: #fff; }
  .icon .icon:first-child {
    margin-left: 0; }
